@import "./variables.css";
@import "./animations.css";
@import "./utilities.css";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

a {
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}
